
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    float: left;
  margin-left: 10px;

}
p{
    font-size: 2rem;
}
.image{
    float: right;
    margin-left: 10px;
}
