
img{
display: block;
margin: auto;
 
}
.hello{
    text-align: center;
}
body{
    background-color: lightgoldenrodyellow;
}
hr{
    border-radius: 20px;
    border-color: aqua;
}
h3{
    color: red;
    text-align: justify;
}
p{

    text-align: justify;
}
